@model MVC.Models.Hotel
@{
    ViewData["Title"] = "Home";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>
	<form method="post" action="Home">
		<input asp-for="Name" value="Name" />
		<input asp-for="Capacity" value="Number of Guests" />
		
	</form>
	
</body>
</html>

